*
!.gitignore
!Makefile
!download.sh
!README.*
!tools
!tools/*
!*l
*l/*
!expl/shell_progs
!expl/shell_progs/*.expl
!*l/*l_progs
!*l/samples
!*l/*l_progs/*.*l
!*l/samples/*.*l
!*l/*l_progs/asg*
!*l/*l_progs/asg*/*.*l
!*l/*l_progs/asg*/*.dat
